<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="thirdParty/bootstrap/dist/css/bootstrap.css">

    <script src="thirdParty/angular/angular.js"></script>
    <script src="thirdParty/angular-animate/angular.js"></script>
    <script src="thirdParty/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="thirdParty/javascripts/nodeDemo.js"></script>
  </head>
  <body>
    <h1><Node></h1>
    <p>Welcome to Wayne's World></p>
  </body>
</html>
